*{
  box-sizing: border-box;
}

.active{
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(201, 56, 3);
}

input, textarea{
  border: 1px solid #ccc;
  width: 100%;
  outline: none;
}
form{
  border: 1px solid #ccc;
}

body{
  background-color: rgb(243, 243, 243);
}

.post-block{
  border-left: 2px solid coral;
}

.view-block{
  margin-top: 50px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuBar{
  
  transition: all 0.5s ease-in-out;
}